// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark_pink: #FF859F;
$light_pink: #FFC2CF;
$white_pink: #FFEBEF;
$green: #61A866;
$dark_blue: rgb(6, 34, 64);
