// Specific CSS for your home-page
// .landing-banner {
//   height: inherit;
// }
.home-container {
  height: 100vh;
}

.landing-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(0deg, rgba(5,5,5,0) 57%, rgba(40,40,40,0.5326724439775911) 77%);
}

.banner-content {
  position: absolute;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

#banner-title {
  margin: 0;
  font-family: 'League Gothic', sans-serif;
  font-size: 12vw;
  color: white;
  text-shadow: 3px 3px 5px #383838;
  text-transform: uppercase;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #515151;
  padding-top: 2vh;
  p {
    font-size: 3vw;
    opacity: 0.6;
  }
}

.transition {
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

#fly-to-tokyo {
  font-size: larger;
  color: white;
  background: rgba(0, 0, 0, 0.592);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  border-style: none;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px black;
}

.sort-form {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: height .8s;
  -o-transition: height .8s;
  -moz-transition: height .8s;
  transition: height .8s;
}
