<div class="landing-info">
  <div class="card-desc">
    <i class="fa-solid fa-magnifying-glass"></i>
    <div class="card-product-infos">
      <p>Search Tokyo based on your needs</p>
    </div>
  </div>
  <div class="card-desc">
    <i class="fa-solid fa-filter"></i>
    <div class="card-product-infos">
      <p>Sort wards by category</p>
    </div>
  </div>
  <div class="card-desc">
    <i class="fa-solid fa-circle-info"></i>
    <div class="card-product-infos">
      <p>Discover more about each ward</p>
    </div>
  </div>
</div>
