<%# <div class="landing">
  <h3 id="landing-desc">You can:</h3> %>
  <div class="landing-info" data-controller = "dropdown">
    <div class="landing-card-info" data-action="click->dropdown#toggle">
      <div class="card-desc">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="card-product-infos">
          <div class="info-title">
            <p class= "long-info">Search Tokyo based on your needs</p>
            <p class= "short-info">Search</p>
          </div>
        </div>
      </div>
      <p class="landing-info-dropdown">Find your ideal Tokyo Neighborhood! With out interactive map you can explore Tokyo's sprawling 23 wards to help you decide where is best for you.</p>
    </div>
    <div class="landing-card-info" data-action="click->dropdown#toggle">
      <div class="card-desc">
        <i class="fa-solid fa-filter"></i>
        <div class="card-product-infos">
          <p class= "long-info">Sort wards by category</p>
          <p class= "short-info">Sort</p>
        </div>
      </div>
      <p class="landing-info-dropdown">Find your ideal Tokyo Neighborhood! With out interactive map you can explore Tokyo's sprawling 23 wards to help you decide where is best for you.</p>
    </div>
    <div class="landing-card-info" data-action="click->dropdown#toggle">
      <div class="card-desc">
        <i class="fa-solid fa-circle-info"></i>
        <div class="card-product-infos">
          <p class= "long-info">Discover more about each ward</p>
          <p class= "short-info">Discover</p>
        </div>
      </div>
      <p class="landing-info-dropdown">Find your ideal Tokyo Neighborhood! With out interactive map you can explore Tokyo's sprawling 23 wards to help you decide where is best for you.</p>
    </div>
  </div>
<%# </div> %>
