<div class="home-container">
  <div id="info"></div>
  <div id="container" data-controller="map" data-map-areas-value="<%= @areas.to_json %>" data-map-user-value = "<%=@user_address.to_json%>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="landing-banner">
      <div class="sort">
        <h2>Sorting</h2>
        <div class="rent-buttons">
          <%# <button_to id="one_ldk" class="rent-button" data-action="click->map#selectedSort">1LDK</button_to> %>
          <%= button_to root_path, data: {"apt"=>"1ldk", "action" =>"click->map#selectedSort"} do %>
            1LDK
          <% end %>
          <button id="two_ldk" class="rent-button" data-action="click->map#selectedSort">2LDK</button>
          <button id="three_ldk" class="rent-button" data-action="click->map#selectedSort">3LDK</button>
        </div>
        <div class="other-buttons">
          <button class="other-button" id="safety" data-action="click->map#selectedSort">Safety</button>
          <button class="other-button" id="international_schools" data-action="click->map#selectedSort">Schools</button>
          <button class="other-button" id="pet" data-action="click->map#selectedSort">Pet Friendly</button>
        </div>
        <div class="clear-button">
          <button class="clear" id="clear" data-action="click->map#selectedSort">Clear</button>
        </div>
      </div>
      <div class="banner-content">
        <div class="banner-text">
          <h1 id="banner-title">Tokyo Maps</h1>
          <p>Discover your perfect Tokyo neighborhood now!</p>
        </div>
        <button id="fly-to-tokyo" data-action="click->map#flyTokyo">Explore</button>
      </div>
      <div class="gradient"></div>
      <div class="map-banner" data-map-target="globus"></div>
    </div>
    <div class="landing-info">
      <div class="row mt-3">
        <div class="col-4">
          <div class="card-desc">
            <div class="card-product-infos">
              <p>Tokyo Maps is a page dedicated to providing visitors with comprehensive and detailed maps and information of Tokyo, Japan. As soon as you land on Tokyo, you are greeted with a stunning map of the city. The map is divided into 23 wards of the city, allowing visitors to quickly find the information they need.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card-desc">
            <div class="card-product-infos">
              <p>Each ward features an interactive map that users can zoom in and out of to get a better understanding of the ward. The map also includes markers for important locations such as apartments, international schools, parks, and popular restaurants. This makes it easy for visitors to plan their home in Tokyo in a particular ward.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card-desc">
            <div class="card-product-infos">
              <p>Tokyo Maps is a well-designed page that offers helpful information about each ward, including its history, culture, and important events. The presented information is easily accessible to all visitors in an easy-to-read format. Whether you're a first-time visitor or a Tokyo inhabitant, Tokyo Maps is an excellent resource for anyone looking to explore or settle down in the city.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
