.map-banner.mapboxgl-map {
  width: 100%;
  height: 60vh;
  z-index: -1;
}

.map-full {
  width: 100%;
  height: 91vh;
  pointer-events: auto;

  .mapboxgl-canvas-container {
    .mapboxgl-canvas {
      height: 100vh;
    }

    // .mapboxgl-canvas.transition {
    //   -webkit-transition: height .8s;
    //   -o-transition: height .8s;
    //   -moz-transition: height .8s;
    //   transition: height .8s;
    // }
  }
}

.map-show {
  width: 300px;
  height: 300px;
  pointer-events: none;
  display: block;
  border-radius: 50%;
}

.map-show-landing {
  width: 100%;
  height: 350px;
  pointer-events: none;
}
