.sort-down {
  height: auto !important;
  overflow-y: visible !important;
}

.sort {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  background-color: black;
}

.sort-mobile {
  h2 {
    text-align: center;
    color: white;
  }

  .rent-button,
  .other-button,
  .clear {
    border-style: none;
    background: aliceblue;
    height: 5vh;
    width: 20vw;
    margin: 12px;
    border-radius: 2px;
    text-shadow: 3px 3px 5px #383838;
    box-shadow: 2px 2px 5px black;
  }

  .sort-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow-y: hidden;
  }
}

.sort-desktop {
  position: absolute;
  bottom: 0;
  left: 0;
  h2 {
    display: none;
  }

  .rent-button,
  .other-button,
  .clear {
    border-style: none;
    height: 5vh;
    width: 10vw;
    margin: 5px;
    border-radius: 2px;
    text-shadow: 3px 3px 5px #383838;
    box-shadow: 2px 2px 5px black;
  }

  .sort-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
}

.selected-rent-target {
  color: white;
  background: rgb(59, 59, 148);
}

.selected-safety-target {
  color: white;
  background: rgb(196, 179, 106);
}
