.sort {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  background-color: black;

  h2 {
    text-align: center;
    color: white;
  }

  .sort-options {
    height: 0;
    overflow-y:hidden;
  }
}

.sort-down{
  height: 10svh;
  overflow-y: none;
}

.rent-button, .other-button, .clear{
  border-style: none;
  background: aliceblue;
  height: 5vh;
  width: 20vw;
  margin: 12px;
  border-radius: 2px;
  text-shadow: 3px 3px 5px #383838;
  box-shadow: 2px 2px 5px black;


}
.clear:hover {
  background-color: red;
  color: white;
  transition: .2s ease-in-out;
}
.rent-buttons button:hover {
  background: black;
  color: white;
  transition: .2s ease-in-out;
}
.other-buttons button:hover {
  background: black;
  color: white;
  transition: .2s ease-in-out;
}
.selected-rent-target{
  color: white;
  background: rgb(59, 59, 148);
}
.selected-safety-target{
  color:white;
  background: rgb(196, 179, 106);
}
