/* @import './map.css'; */

body {
  margin: 0;
  background-color: rgb(2, 19, 27);
}

.alerts {
  position: absolute;
}

.map_box_container {
  width: 100svw;
  height: 70svh;
}
#map {
  width: 100svw;
  height: 70svh;
}
